body {
    padding-left: 30%;
    padding-top: 5%;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: white;
}

.black-cell {
    background-color: black;
}

.changed-cells .cell {
    background-color: black;
}

.changed-cells .black-cell {
    background: white;
}